/* cursor css */
/* .circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Page CSS */

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  letter-spacing: 0.12em;
  background-color: rgb(56 189 248);
}

.scroll-watcher {
  height: 2px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  transform-origin: left;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@keyframes slidingX {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.roles span {
  position: relative;
}

.roles span::before {
  content: "a Front End Developer";
  color: white;
  animation: my-roles 8s infinite;
}

.roles span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: rgb(56 189 248);
  border-left: 2px solid white;
  right: -8px;
  animation: blinks 0.7s linear infinite, typing 15s steps(14) infinite;
}

@keyframes my-roles {
  0%,
  45% {
    content: "an UI Developer";
  }
  46%,
  75% {
    content: "a Front End Developer";
  }
  76%,
  100% {
    content: "a React Developer";
  }
}

@keyframes blinks {
  to {
    border-left: 2px solid royalblue;
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100% {
    width: calc(100% + 8px);
  }
}

.btn-loading::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9999px;
  width: 0%;
  height: 100%;
  background-color: white;
  opacity: 1;
  animation: loading-move 2s ease-in-out;
  margin-bottom: 10px;
}

@keyframes loading-move {
  0% {
    color: rgb(56 189 248);
    content: "20%";
    width: 20%;
  }
  50% {
    color: rgb(56 189 248);
    content: "60%";
    width: 60%;
  }
  75% {
    color: rgb(56 189 248);
    opacity: 1;
    content: "100%";
    width: 100%;
  }
  85% {
    color: rgb(56 189 248);
    opacity: 1;
    content: "Done";
    width: 100%;
  }
  90% {
    color: rgb(56 189 248);
    opacity: 1;
    content: "Done";
    width: 100%;
  }
  95% {
    width: 100%;
    content: "Done";
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

/* About Me CSS */

.bring-card-con {
  animation: slidingX 1s both 0.5s;
}

.card {
  height: 100%;
  width: 100px;
  border-radius: 50px;
  background-image: var(--imgbg);
  transition: width 0.5s linear;
  overflow: hidden;
  position: relative;
}

.card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px); /* Blur the background */
}

.card .card-title {
  font-size: 2rem;
  writing-mode: vertical-lr;
  scale: -1;
  position: absolute;
  top: 20%;
  left: 20%;
}

.card:hover {
  width: 450px;
  /* filter: blur(2px); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card:hover .card-title {
  top: 10%;
  left: 5%;
  margin-left: 0;
  writing-mode: horizontal-tb;
  scale: 1;
}

.card:hover .card-content {
  font-size: 1.2rem;
  position: absolute;
  top: 20%;
  padding: 0 20px 0 20px;
  writing-mode: horizontal-tb;
  display: block;
  scale: 1;
}

/* Skills Section CSS */

.skill-con {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid white;
  border-radius: 50%;
  /* animation: roll 30s linear infinite; */
  transform-style: preserve-3d;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill-icons {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillImgBx {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  overflow: hidden;
  transition: 1s;
  z-index: 50;
  overflow: hidden;
  filter: grayscale(0.4);
}

.icons-circles {
  transform: rotate(calc(360deg / 6 * var(--i)));
  transform-origin: 340px center;
}

.skillImgBx.active {
  border: 5px solid blue;
  filter: grayscale(0);
}

.skillImgBx > img {
  object-fit: cover;
  transform: rotate(calc(-360deg / 6 * var(--i)));
}

.skill-content {
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 100px;
  right: 100px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transform-style: flat;
}

/* ........... */
/* Responsive Media Queries */

@media (max-width: 500px) {
  /* Adjust styles for larger screens */

  /* common changes */
  .section-title {
    font-size: 48px;
  }

  .section-sub-title {
    font-size: 15px;
  }

  /* Nav section css */

  nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .logo {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    width: 30%;
    font-size: 15px;
    border-right: 1px solid white;
  }
  .nav-options {
    font-size: 14px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
  }
  .nav-options ul {
    justify-content: center;
  }
  #main-con {
    width: 100%;
  }

  /* About Section CSS */

  .card-con {
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20%;
    height: 60%;
    opacity: 0;
  }

  .card {
    height: 48%;
    width: 40%;
    border-radius: 50px;
    background-image: var(--imgbg);
  }

  .card:hover,
  .card:active {
    pointer-events: none;
  }

  .card .card-title {
    font-size: 1.5rem;
    writing-mode: horizontal-tb;
    scale: 1;
    position: absolute;
    top: 8%;
    left: 10%;
  }

  .card .card-content {
    display: block;
    font-size: 0.75rem;
    position: absolute;
    top: 25%;
    padding: 0 8px 0 8px;
  }

  /* skills css mobile */
  #skills {
    row-gap: 60px;
  }
  .skill-con {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
  }

  .skillImgBx {
    width: 60px;
    height: 60px;
  }

  .icons-circles {
    transform: rotate(calc(360deg / 6 * var(--i)));
    transform-origin: 180px center;
  }

  .skill-content {
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  /* Adjust styles for small screens */
  #main {
    padding-bottom: 40%;
  }
  .logo {
    display: flex;
    justify-content: start;
    width: 20%;
    font-size: 18px;
    border-right: 1px solid white;
  }
  nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.75rem;
  }
  .nav-options {
    font-size: 18px;
    height: 100%;
    width: 100%;
  }
  .nav-options ul {
    justify-content: center;
  }
  #main-con {
    width: 100%;
  }
  /* About css */
  .card-con {
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20%;
    height: 60%;
    opacity: 0;
  }

  .card {
    height: 48%;
    width: 40%;
    border-radius: 50px;
    background-image: var(--imgbg);
  }

  .card:hover,
  .card:active {
    pointer-events: none;
  }

  .card .card-title {
    font-size: 1.5rem;
    writing-mode: horizontal-tb;
    scale: 1;
    position: absolute;
    top: 8%;
    left: 10%;
  }

  .card .card-content {
    display: block;
    font-size: 0.75rem;
    position: absolute;
    top: 25%;
    padding: 0 8px 0 8px;
  }

  /* skills css mobile */

  .skill-con {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    border-radius: 50%;
  }

  .skillImgBx {
    width: 70px;
    height: 70px;
  }

  .icons-circles {
    transform: rotate(calc(360deg / 6 * var(--i)));
    transform-origin: 235px center;
  }

  .skill-content {
    top: 100px;
    left: 100px;
    bottom: 100px;
    right: 100px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  /* Adjust styles for medium-sized screens */

  nav {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .skill-con {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid white;
    border-radius: 50%;
  }

  .skillImgBx {
    width: 70px;
    height: 70px;
  }

  .icons-circles {
    transform: rotate(calc(360deg / 6 * var(--i)));
    transform-origin: 285px center;
  }

  .skill-content {
    top: 100px;
    left: 100px;
    bottom: 100px;
    right: 100px;
  }
}

@media (min-width: 901px) {
  /* Adjust styles for larger screens */
}
